$color-white: #FFFFFF;
$color-milano-red: #C40B0B;
$color-red: #E30B0B;
$color-tundora: #4B4B4B;
$color-blu: #02133C;
$color-dusty-gray: #959595;
$color-mine-shaft: #262626;
$color-alto: #D5D5D5;
$color-malachite: #21C613;
$color-wild-sand: #F5F5F5;
$color-drop-shadow: #b3b3b3;

$font-regular: 'Roboto Regular';
$font-medium: 'Roboto Medium';
$font-bold: 'Roboto Bold';
$font-bolder: 'Roboto Bolder';