.impact {
    height: 608px;
    background-image: url(../assets/images/impact-bc.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 111px;
    padding-bottom: 189px;
    position: relative;

    @include respond-to(phone-only) {
        height: auto;
        padding-top: 80px;
        padding-bottom: 150px;
    }

    &__image {
        position: absolute;
        top: -72px;
        right: 210px;

        @include respond-to(phone-only) {
            width: calc(100% - 50%);
            top: -82px;
            right: 10px;
        }
    }

    &__inner {
        margin-top: 32px;
        margin-bottom: 76px;
        max-width: 411px;

        @include respond-to(phone-only) {
            margin: 32px auto 76px;
        }
    }

    &__holder {
        margin: 0 -15px;

        @include respond-to(phone-only) {
            justify-content: center;
        }
    }

    &__block {
        width: 260px;
        padding: 0 15px;

        @include respond-to(phone-only) {
            margin-bottom: 15px;
        }

        img {
            width: 76px;
            height: 76px;
        }
    }

    &__content {
        margin-left: 12px;

        @include respond-to(phone-only) {
            width: 100%;
        }
    }

    &__box {
        padding-top: 43px;
        padding-bottom: 48px;
        background-color: $color-white;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -75px;

        @include respond-to(phone-only) {
            padding-top: 30px;
            padding-bottom: 30px;    
            left: 0;
            right: 0;
            bottom: -75px;
            justify-content: center;
        }
    }
}

.box__title {
    font-family: $font-bolder, sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: $color-blu;
    max-width: 562px;
    margin-left: 70px;
    margin-right: 101px;

    @include respond-to(phone-only) {
        max-width: calc(100% - 20%);
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}